*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
 }
  body{
    background-image: url(back.jpg)  ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  
  
  .container{
    background: #222;
    width: 900px;
    border-radius: 10px;
    padding: 20px ;
    margin: 30px;
    display: grid;
    grid-template-columns:5fr 3fr ;
    
  }
  .img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .img img,canvas{
    max-width: 360px;
    max-height: 480pX;
  }
  .upload input{
   display: none;
  }
  .upload label{
    color: #fff;
    padding: 8PX 20px;
    border: 2px #fff ;
    cursor: pointer;
    background-color: darkolivegreen
  }
  .filters ul{
display: flex;
flex-direction: column;
gap: 30px;
  }
  .filters ul li{
    display: flex;
flex-direction: column;
gap: 20px;
  }
  .filters ul li label{
    color: white;
  }
  .filters ul li:last-child{
    flex-direction: row;
    justify-content: space-around;
  }
  .filters ul li a,span{
    color: white;
    padding: 10px 20px;
    background-color: darkolivegreen;
    cursor: pointer;
  }

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 10px;
    grid-template-columns: 1fr;
  }

  .img {
    gap: 20px;
  }

  .img img,
  canvas {
    max-width: 100%;
    height: auto;
  }
}

